.plan-min {
  display: flex;
  padding: 2px;
  background: #F5F7FB;
  border-radius: 6px;
  align-items: center;
}
.plan-min-img {
  min-width: 66px;
  height: 66px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  padding: 5px;
  margin-right: 8px;
}
.plan-min-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
