@import '../ui/_variables.less';

:root {
  --media-md: @md;
  --media-lg: @lg;


  @color-primary        : #0092E4;
  --color-primary       : @color-primary;
  --color-primary-10    : fade(@color-primary, 10);
  --color-primary-15    : fade(@color-primary, 15);
  --color-primary-20    : fade(@color-primary, 20);
  --color-primary-30    : fade(@color-primary, 30);
  --color-primary-40    : fade(@color-primary, 40);
  --color-primary-50    : fade(@color-primary, 50);
  --color-primary-60    : fade(@color-primary, 50);
  --color-primary-70    : fade(@color-primary, 70);
  --color-primary-80    : fade(@color-primary, 80);
  --color-primary--light: lighten(@color-primary, 5%);
  --color-primary--dark : darken(@color-primary, 5%);

  @color-yellow        : #FF9820;
  --color-yellow       : @color-yellow;
  --color-yellow-10    : fade(@color-yellow, 10);
  --color-yellow-20    : fade(@color-yellow, 20);
  --color-yellow-30    : fade(@color-yellow, 30);
  --color-yellow-40    : fade(@color-yellow, 40);
  --color-yellow-50    : fade(@color-yellow, 50);
  --color-yellow-60    : fade(@color-yellow, 50);
  --color-yellow-70    : fade(@color-yellow, 70);
  --color-yellow-80    : fade(@color-yellow, 80);
  --color-yellow--light: lighten(@color-yellow, 5%);
  --color-yellow--dark : darken(@color-yellow, 5%);

  @color-green        : #31A043;
  --color-green       : @color-green;
  --color-green-10    : fade(@color-green, 10);
  --color-green-20    : fade(@color-green, 20);
  --color-green-30    : fade(@color-green, 30);
  --color-green-40    : fade(@color-green, 40);
  --color-green-50    : fade(@color-green, 50);
  --color-green-60    : fade(@color-green, 50);
  --color-green-70    : fade(@color-green, 70);
  --color-green-80    : fade(@color-green, 80);
  --color-green--light: lighten(@color-green, 5%);
  --color-green--dark : darken(@color-green, 5%);

  @color-red        : #EB5757;
  --color-red       : @color-red;
  --color-red-10    : fade(@color-red, 10);
  --color-red-20    : fade(@color-red, 20);
  --color-red-30    : fade(@color-red, 30);
  --color-red-40    : fade(@color-red, 40);
  --color-red-50    : fade(@color-red, 50);
  --color-red-60    : fade(@color-red, 50);
  --color-red-70    : fade(@color-red, 70);
  --color-red-80    : fade(@color-red, 80);
  --color-red--light: lighten(@color-red, 5%);
  --color-red--dark : darken(@color-red, 5%);

  @color-icon        : #828A99;
  --color-icon       : @color-icon;
  --color-icon-10    : fade(@color-icon, 10);
  --color-icon-20    : fade(@color-icon, 20);
  --color-icon-30    : fade(@color-icon, 30);
  --color-icon-40    : fade(@color-icon, 40);
  --color-icon-50    : fade(@color-icon, 50);
  --color-icon-60    : fade(@color-icon, 50);
  --color-icon-70    : fade(@color-icon, 70);
  --color-icon-80    : fade(@color-icon, 80);
  --color-icon--light: lighten(@color-icon, 5%);
  --color-icon--dark : darken(@color-icon, 5%);






  @color-text       : #313131;
  --color-text      : @color-text;
  --color-text-dark : darken(@color-text, 5%);
  --color-text-light: lighten(@color-text, 5%);
  --color-text-10   : fade(@color-text, 10);
  --color-text-20   : fade(@color-text, 20);
  --color-text-40   : fade(@color-text, 40);
  --color-text-60   : fade(@color-text, 60);
  --color-text-80   : #52575C;


  @spacing : 4px;
  --spacing: @spacing;


  --radius-small : 3px;
  --radius-middle: 5px;
  --radius-large : 8px;

  --media-lg: @lg;
  --media-md: @md;


  --font-base: ~"'SFProDisplay', Arial, Helvetica, sans-serif";


  --zi-l1: 321;
  --zi-l2: 322;
  --zi-l3: 323;
  --zi-l4: 324;
  --zi-l5: 325;
  --zi-l6: 326;
  --zi-l7: 327;
  --zi-l8: 328;
  --zi-l9: 329;
}

body {

  color     : var(--color-text);
  background: #F5F7FB;

  * {
    font-family: var(--font-base);
  }

  &.catalog-filter-opened {
    @media (max-width:@md) {
      overflow: hidden;
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}



@import './jk-row.less';
@import './plan-min.less';

.brand-min {
  display    : flex;
  align-items: center;
  max-width  : 100%;

  &-img {
    margin-right : 8px;
    min-width    : 30px;
    width        : 30px;
    height       : 30px;
    border-radius: 50%;
    overflow     : hidden;
    border       : 1px solid #E2E8F0;

    @media (max-width:@md) {
      min-width: 24px;
      width    : 24px;
      height   : 24px;
    }

    img {
      width     : 100%;
      height    : 100%;
      object-fit: scale-down;
    }

  }


  &-text {

    width: calc(100% - 24px - 8px);

    * {
      white-space  : nowrap;
      /* Отменяем перенос текста */
      overflow     : hidden;
      text-overflow: ellipsis;
      width        : 100%;
    }

  }

}

.news-card {
  &-info {
    display    : flex;
    align-items: center;

  }
}

.jk-card {
  &-prop {
    @media (min-width:@md) {
      background   : #F5F7FB;
      border-radius: 6px;
      padding      : 8px 10px;
    }

    @media (max-width:@md) {
      padding-top: 10px;
      border-top : 1px solid rgba(214, 221, 232, 0.8);
    }
  }

  &-btn {
    @media (max-width:@md) {
      width       : calc(100% + 16px);
      margin-left : -8px;
      margin-right: -8px;
    }
  }
}

.plan-card {

  &-brand {
    @media (max-width:@md) {
      max-width: calc(100% - 40px);
    }
  }

  &-img {
    height     : 230px;
    padding-top: 20px;

    @media (max-width:@md) {
      height: 130px;
    }

    img {
      width     : 100%;
      height    : 100%;
      object-fit: scale-down;
    }
  }

  &-props {
    margin-left  : -16px;
    margin-right : -16px;
    padding      : 10px 16px;
    width        : calc(100% + 32px);
    background   : #F5F7FB;
    border-radius: 6px;

    display        : flex;
    justify-content: space-between;

    @media (max-width:@md) {
      display: none;
    }
  }


  &-btn {
    @media (min-width:@md) {
      padding    : 0 16px;
      margin-left: -16px;
    }

    @media (max-width:@md) {
      width       : calc(100% + 16px);
      margin-left : -8px;
      margin-right: -8px;
    }

  }
}


.header {
  padding    : 6px 36px;
  background : #FFFFFF;
  height     : 50px;
  display    : flex;
  align-items: center;

  position: sticky;
  top     : 0;
  z-index : var(--zi-l1);


  &-user {
    &-btn {
      background   : #FFFFFF;
      box-shadow   : 0px 2px 6px rgba(0, 0, 0, 0.12);
      border-radius: 50px;
      display      : flex;
      align-items  : center;
      padding      : 2px 3px;
      cursor       : pointer;

      &-arrow {
        width          : 34px;
        height         : 34px;
        border-radius  : 50%;
        margin-right   : 2px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        font-size      : 10px;
      }

      &-img {
        width        : 34px;
        height       : 34px;
        border-radius: 50%;
        background   : #CCE6FA;
        overflow     : hidden;

        img {
          width     : 100%;
          height    : 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.nav {
  position  : fixed;
  left      : 0;
  top       : 50px;
  height    : calc(100% - 50px);
  overflow  : auto;
  width     : 62px;
  background: #FFFFFF;

  border-right: 1px solid #E2E8F0;
  padding     : 2px;

  &-item {
    width          : 100%;
    height         : 54px;
    display        : flex;
    border-radius  : 6px;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    color          : var(--color-icon);
    margin-bottom  : 4px;

    &:focus {
      background: var(--color-primary-10);
    }

    @media(hover) {
      &:hover {
        background: var(--color-primary-10);
      }
    }

    &.active {
      background: var(--color-primary-15);
      color     : var(--color-primary);
    }

    &-icon {
      font-size    : 20px;
      margin-bottom: 8px;
    }

    &-text {
      font-size: 11px;
    }
  }
}

.content-wrapper {
  padding-left : calc(62px + 16px);
  padding-right: 15px;
  padding-top  : 15px;
}

.filter {
  background    : linear-gradient(259.25deg, rgba(235, 171, 218, 0.9) 0%, rgba(148, 134, 206, 0) 33.34%), linear-gradient(105.19deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 54.79%), linear-gradient(180deg, #4DA1ED 0%, #306CD7 100%);
  border-radius : 16px;
  padding-top   : 28px;
  padding-bottom: 28px;

  &-title {
    margin-bottom: 22px;
  }

  &-form {
    padding: 24px 32px;

  }

  &-fields {
    display              : grid;
    grid-template-columns: 26fr 26fr 38fr;
    grid-gap             : 16px 32px;

    @media(max-width:@lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-btns {
    display        : flex;
    justify-content: flex-end;
    margin-top     : 22px;
  }

  &-btn {
    &+& {
      margin-left: 16px;
    }
  }
}

.groups {
  &-item {
    display    : flex;
    align-items: center;

    &-img {
      min-width    : 64px;
      width        : 64px;
      height       : 64px;
      border-radius: 16px;
      margin-right : 12px;
      overflow     : hidden;

      img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
      }
    }
  }

  &-slider {
    .swiper-wrapper {
      display           : grid;
      grid-template-rows: auto auto;
      grid-auto-flow    : column;
      height            : auto;
    }

    .swiper-slide {
      height    : auto;
      transition: opacity .2s ease;
    }

    @media (max-width:@lg) {

      .swiper {
        overflow: visible;
      }

      .swiper-slide:not(.swiper-slide-visible) {
        opacity: .6;
      }
    }
  }


  @media (max-width:@lg) {
    overflow    : hidden;
    width       : calc(100% + 30px);
    margin-left : -15px;
    margin-right: -15px;
  }
}

.news-developers {
  &-slider {
    @media(min-width:@md) {
      .swiper-wrapper {
        flex-wrap: wrap;
        transform: none !important;
      }
    }

    @media(max-width:@md) {
      width        : calc(100% + 30px);
      padding-left : 15px;
      padding-right: 15px;
      margin-left  : -15px;
      margin-right : -15px;
      overflow     : hidden;

      .swiper {
        overflow: visible;
      }
    }
  }
}

.popular-areas {
  &-slider {

    .swiper-wrapper {
      display           : grid;
      grid-template-rows: auto auto;
      grid-auto-flow    : column;
      height            : auto;
    }

    .swiper-slide {
      height    : auto;
      transition: opacity .2s ease;
    }

    @media (max-width:@lg) {

      .swiper {
        overflow: visible;
      }

      .swiper-slide:not(.swiper-slide-visible) {
        opacity: .6;
      }
    }
  }

  @media (max-width:@lg) {
    overflow    : hidden;
    width       : calc(100% + 30px);
    margin-left : -15px;
    margin-right: -15px;
  }
}