// out:false


.jk-row {
  display: flex;

  @media(max-width:$lg) {
    align-items: flex-start;
  }

  &-content {
    flex-grow     : 1;
    padding       : 8px;
    display       : flex;
    flex-direction: row;
    padding-right : 32px;
    width         : calc(100% - 198px - 6px);

    @media(max-width:$lg) {
      flex-direction: column;
      padding       : 0;
    }


    @media(max-width:$md) {
      width: 100%;
    }
  }

  &-aside {
    min-width  : 198px;
    width      : 198px;
    margin-left: 6px;
    padding    : 24px 16px;

    @media(max-width:$md) {
      display: none;
    }

    &-prop {
      line-height: 1.86;
    }
  }

  &-preview {
    min-width   : 218px;
    width       : 218px;
    margin-right: 22px;
    position    : relative;

    @media(max-width:$lg) {
      width       : 100%;
      margin-right: 0;
      min-width   : 0;
      height      : 236px;
    }

    &-img {
      width        : 100%;
      height       : 100%;
      border-radius: 16px;
      overflow     : hidden;

      @media(max-width:$lg) {
        border-radius: 16px 16px 0 0;
      }

      img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
      }
    }


    &-likes {
      display: flex;

      .card-like {}
    }


  }

  &-inner {
    padding-top   : 16px;
    padding-bottom: 16px;
    flex-grow     : 1;
    width         : calc(100% - 218px - 22px);

    @media(max-width:$lg) {
      width  : 100%;
      padding: 16px;
    }
  }

  &-info {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;

    @media(max-width:$md) {
      display: block;
    }

    &-data {
      @media(max-width:$md) {}
    }
  }

  &-plans {
    width        : calc(100% + 32px);
    margin-right : -32px;
    padding-right: 40px;
    overflow     : hidden;
    position     : relative;

    @media(max-width:$lg) {
      width       : calc(100% + 16px + 16px);
      margin-right: -16px;
      margin-left : -16px;
      padding-left: 16px;
    }

    @media(max-width:$md) {
      padding-right: 16px;
    }

    .swiper {
      overflow: visible;
      position: static;
    }

    .swiper-initialized .swiper-slide:not(.swiper-slide-visible) {
      opacity: 0.8;
    }

    &-next {
      position  : absolute;
      top       : calc(50% - 16px);
      right     : 20px;
      z-index   : 3;
      transition: .2s ease;
      width     : 32px;
      height    : 32px;
      font-size : 12px;

      @media(max-width:$md) {
        display: none;
      }

      &.swiper-button-disabled {
        opacity       : 0;
        pointer-events: none;
      }
    }
  }

  &-control {
    display: flex;

    @media(max-width:$md) {
      display: none;
    }
  }

  &-brand {}
}